.footer{
    margin-top: 50px;
    height: 40vh;
    width: 100vw;
background-image: url("https://media.istockphoto.com/id/1359861587/vector/blue-modern-abstract-wide-banner-with-geometric-shapes-dark-blue-abstract-background.jpg?s=612x612&w=0&k=20&c=xDMI5_-xyh_IHm2ca07x5xFTR7kRoFZJhxrq10FQra0=");
}
.logo img{
border-radius: 50%;
position: relative;
left: 50%;
top:-45px;
}
.line{
    height: 2px;
    background-color: white;
    width:90vw;
    margin-left: 60px; ;
}
.items p2{
         color: white;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-weight: 200;
         margin-left: 200px;
         font-size: 20px;
         margin-top: 200px;
}
.items p1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 200px;
}
.text{
     color: white;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 15px;
     font-weight: 200;
    margin-left: 20%;




}